<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>camera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A4D92CA1ED36A7C0082863D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A4D92DE1ED36A7D0082863D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A4D92E91ED36A7D0082863D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
